@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263 100% 97%;
    --foreground: 279 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 279 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 279 10% 20%;
    --primary: 279 69% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 279 50% 92%;
    --secondary-foreground: 279 10% 20%;
    --muted: 279 40% 94%;
    --muted-foreground: 279 10% 45%;
    --accent: 204 100% 68%;
    --accent-foreground: 204 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 20% 88%;
    --input: 279 30% 93%;
    --ring: 279 69% 61%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 279 15% 12%;
    --foreground: 279 10% 95%;
    --card: 279 15% 15%;
    --card-foreground: 279 10% 95%;
    --popover: 279 15% 12%;
    --popover-foreground: 279 10% 95%;
    --primary: 279 75% 70%;
    --primary-foreground: 279 80% 15%;
    --secondary: 279 15% 25%;
    --secondary-foreground: 279 10% 95%;
    --muted: 279 15% 20%;
    --muted-foreground: 279 10% 60%;
    --accent: 204 80% 70%;
    --accent-foreground: 204 90% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 15% 25%;
    --input: 279 15% 25%;
    --ring: 279 75% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
